<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>OnlineShop</display-name>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error.html</location>
  </error-page>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Abc</servlet-name>
    <servlet-class>com.brainmentors.servlets.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Abc</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
</web-app>